.movie-card {
  list-style: none;
}

.movie-img {
  border-radius: 5px;
  background-color: azure;
}

.tcard {
  max-width: 150px;
  transition: transform 0.2s ease-in-out;
}
.poster-card {
  max-width: 220px;
  /* width: auto; */
  height: 360px;
}

.tcard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
