.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 2%;
}

.full-container{
  width: 100%;
  overflow-x: auto;
}

.header{
    text-align: center;
    margin: 20px 0px;
}


.modifyButton{
    margin: 2px;
    padding: 3px 5px;
}

.modifyButtons{
    margin: 2px;
    display: flex;
    flex-direction: row;

}

.editColumn{
    border-left: solid gray;
}