a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.custom-navbar {
  background-color: #151736;
}

.custom-color {
  color: #febe03 !important;
  transition:  transform 0.1s ease-in-out;
  font-size: 1.3rem;
  margin-right: 10px;
  margin-left: 15px;
}

.custom-color:hover {
  transform: scale(1.1);
}

.custom-toggler {
  background-color:#6d757d; /* Fondo transparente para el NavbarToggler */
  color: #6d757d
}


.user-box {
  margin-left: 15px;
}

.user-icon {
  font-size: 2.5em;
}

.user-icon-container {
  border-radius: 50%;
  

  &:hover{
    cursor: pointer;
    transition:  0.2s ease;
    transform: scale(1.1);
  }
}

.vertical-container {
  display: flex;
  flex-direction: column;
}