.SidebarMenu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 228, 228);
  color: #ffffff;
  border-right: 1px solid gray;
  transition: max-width 0.3s ease;
}

.SidebarMenu.expanded {
  max-width: 200px;
}

.SidebarMenu.collapsed {
  max-width: 64px;
}

.menuButton .hamburguerButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  padding: 10px;
  width: 68px;
  margin: 5px;
  border-radius: 5px;


  &:hover {
    background-color: gray;
    transition:  0.3s ease;
  }
}

.menuButton {
  display: flex;
  justify-content: left;
}

