/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  background-color: #1b6ec2; /* Color de fondo */
  color: #fff; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  padding: 0.75rem 1.5rem; /* Relleno vertical y horizontal */
  border-radius: 0.25rem; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición al cambiar el color de fondo en hover */

  /* Estilo en hover */
  &:hover {
    background-color: #1861ac;
  }
}
